<div class="width100 header-userName"
	ng-class="{'header-section-operational':isOperational, 'header-section-testing':!isOperational}">
	<span>Generator Interim Access Tool- Testing Mode</span>
	<div class="btn-group">
		<span> {{userName}}</span>
		<button type="button" class="btn dropdown-toggle alignMargin"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<div class="caret"></div>
		</button>
		<div class="dropdown-menu" style="padding: 7px;">
				<div ng-click="operational()" ng-if="userRole=='BOTH'">
					<!-- ng-if="userRole=='operational'" -->
					<a class="dropdown-item">Operational UI</a>
				</div>
				<div ng-controller="logoutCtrl" ng-click="logOut()" role="button">
					<a class="dropdown-item" >Logout</a>
				</div>
			</div>
		</div>
	</div>