 <link rel="stylesheet" type="text/css"
	href="css/Landing/landing.css">
 <section class="container" >
    <div class="login" >
      <h1>Generator Interim Access Tool 1</h1>
      <form name="login_form" id="login_form"  align="center" modelAttribute="auth">
        <div align="left" ng-if="operational" id="username_section" class="landing" ><p id="name"><input ng-click="userRole('Oper')" class="inputLanding" type="radio" ng-model="landing.name" value="Operational" name="landing" >&nbsp;&nbsp;Operational UI</p></div>
        <div align="left" ng-if="testplatform" id="password_section" class="landing"><p id="pass"><input ng-click="userRole('Test')" class="inputLanding" type="radio" ng-model="landing.name" value="Testing" name="landing" >&nbsp;&nbsp;Testing Mode</p></div>        
                                <table style="align:center;width : 450px;">
                                <colgroup>
                                    <col span="2"  width="50%">
                                </colgroup>
                                
                                <tr>
                                <td><div></div></td>
        <td><div id="div_forgot_user" style="display:none;font-size:8pt;">Please contact IT Service Desk on<br/> (08) 9218 5444 or email: it.servicedesk@westernpower.com.au<a onclick="document.getElementById('div_forgot_user').style.display='none';return false;" href="" 
                                style="text-decoration:none;border-bottom:1px black;">.</a>
                                </div></td>                                       
        </tr>
                                </table>
                                
                                
                                
                                <br/>
                                <br/>                    
                                <h3>    t      </h3>              
                                
      </form>  
    </div>
  </section>