<div class="row-container menu-tabs-div">
			<div ng-class="{'active':selectedTabIndex==1}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==1}" class="section-tab" ng-click="callTab('testplatform.constraintLibrary',1)">
					Constraint Library
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==2}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==2}" class="section-tab" ng-click="callTab('testplatform.enableConstraint',2)">
					Enable Constraint
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==3}" class="width14 border-grey" >
				<div ng-class="{'active':selectedTabIndex==3}" class="section-tab"  ng-click="callTab('testplatform.constraintManagement',3)">
					Constraint Management
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==4}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==4}" class="section-tab" ng-click="callTab('testplatform.referenceData',4)">
					Reference Data
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==5}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==5}" class="section-tab" ng-click="callTab('testplatform.bindingConstraints',5)">
					Binding Constraints
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==6}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==6}" class="section-tab" ng-click="callTab('testplatform.caseFiles',6)">
					Case Files
				</div>
			</div>
			<div ng-class="{'active':selectedTabIndex==7}" class="width14 border-grey">
				<div ng-class="{'active':selectedTabIndex==7}" class="section-tab" ng-click="callTab('testplatform.reports',7)">
					Reports
				</div>
			</div>
		</div>