 <div class="modal fade">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 ng-if="showHeaderTitle" class="modal-title">Confirm</h4>
             </div>
             <div class="modal-body">
               <p>{{message}}</p>
             </div>
             <div class="modal-footer">
				<button type="button" ng-if="!noSave" ng-click="close('Yes')" class="btn btn-default" data-dismiss="modal">Yes</button>
               <button type="button" ng-if="!noSave"  ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
               <button type="button" ng-if="noSave" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">OK</button>
             </div>
           </div>
         </div>
       </div>