 <link rel="stylesheet" type="text/css"
	href="css/TestPlatform/testplatform.css">
<div class="mm-main-container"  id="toplink" >
<gia-header></gia-header>
<div class="content-section">
		<menu-tabs></menu-tabs>
		<ui-view></ui-view>
		<gia-footer></gia-footer>
	</div>

</div>