/* Put styling specific to GIA in this file.
Styles that override a Bootstrap class should go in bootstrapOverride.css
*/

/* The default styles assume the operational UI theme, on the test platform, we add a class to a wrapper div in order to overwrite the color scheme. see theme.scss*/
// .topbar {
//   background-color: $operation_dark;
// }

.fixed-width {
  min-width: 1100px;
}

.row-spacer {
  min-height: 35px;
  display:inline-block;
}
select, input, textarea {
  border-style:solid;
  width: 100%;
}

/*STYLING FOR COLLAPSABLE HEADINGS */
.collapse-heading {
  padding: 5px;
  // background-color: $operation_medium;
  margin-bottom: 30px;
}


.collapse-heading .glyphicon {
  font-size: 14pt;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
.collapse-heading h2 {
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
}


/* Customise Data Table*/
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 3px;
}

table td a {
  font-weight: bold;
  cursor: pointer;
}


.row button.fill-width {
  width: 100%;
  font-size: 11pt;
  padding: 2px;
  margin-bottom: 3px;
}
/* Form validation Colours*/
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border-color:  $form_field_invalid;
    border-width: thin;
  }

input.ng-valid.ng-touched,
select.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border-color: $form_field_valid;
  border-width: thin;

}
