/*This file contains overrideden CSS classes relating to ngTable*/


/* Hides table count butotn group */
.ng-table-counts {
  display: none;
}


.ng-table th.filter .input-filter {
    min-height: unset;
}

.ng-table th.sortable.sort-asc,.ng-table th.sortable.sort-desc {
  background-color: $operation_medium;
}

.ng-table th {
  background-color: $operation_medium;
  text-align:left;
  color: white;

}

.ng-table-header {
    text-align: left;
    vertical-align: top;
  	height: 40px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $operation_light;

}


.restricted-height {

  thead {
      display: table;
      //width: 98.5%;
      margin-right: 19px;
      table-layout: fixed;
  }

  tbody {
      max-height: 300px;
      overflow-y: scroll;
      display: block;
      width: calc(100%+1em);
      table-layout: fixed;
  }

  tr {
      display: table;
      table-layout: fixed;
      width: 100%;
  }

}
// limit text to one line in tableParams
.truncate-column {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
