// Applying this class to the body tag applies the Green test platform theme to the entire application.

.test-platform {

  .collapse-heading {
    // background-color: $test_platform_medium;
  }


  .ng-table th.sortable.sort-asc,.ng-table th.sortable.sort-desc {
    background-color: $test_platform_medium;
  }

  .ng-table th {
    background-color: $test_platform_medium;

  }


  .table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: $test_platform_light;
  }
}
