// $test_platform_light: #dcedc8;//100
// $test_platform_medium: #9ccc65;//400
// $test_platform_dark: #689f38; //700

$test_platform_light: #dcedc8;//100
$test_platform_medium: green;//400
$test_platform_dark: green; //700

$operation_light: #bbdefb;
$operation_medium: #42a5f5;
$operation_dark: #1976d2;

$form_field_invalid: #ef5350; //red 400
$form_field_valid: #9ccc65; // light green 400

$button_disabled: #e0e0e0; //
$button_disabled_color: #9e9e9e; //
$button_bg: #9e9e9e; //grey 500
$button_border: #212121; //grey 900
$button_border_disabled: #e0e0e0; //grey 300
$tab_button_normal: lightgray;
