<span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
