		body {
			color:black;
		}
		.header,.footer {
			padding: 0.4em;
			color: white;
			background-color: #F37420;
			clear: left;
			text-align: left;
			width :100%;
			line-height : 30px;
			font-size : 15pt;
		}		
		.footer-image {
			 margin: auto;
		    position: absolute;
		    top: 0;
		    width: 142px;
			
		}
		.panel-heading {
			background-color : #C1CEDF !important;
			height : 25px !important;
			
		}
		.panel-title {
			margin-top : -9px !important;
		}
		.toggleButton {
			text-decoration:none !important;
		}
		.toggleButton:after {
			content: '\02796';
			font-size: 12px;
			line-height: 24px;
			text-align: center;
			color: black;
			float: left;
			background: white;
			width: 24px;
			height: 24px;
			border-radius: 50%;			
		}
		.toggleButton.collapsed:after {
			content: "\2795";
		}
		#accordion2 {
			margin-top:-10px;
		}
		.formDescription {
			font-weight : bold;
			font-size : 16px;
		}
		.fieldDescription {
			color : grey;
		}
      #locationField, #controls {
        width: 480px;
      }
      #autocomplete {
        width: 100%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
	  table {
  width: 100%;
}
table.classificationDetails {
	width : 60%;
}
.customerDetails {
	width:111%;
}
.customerDetails td {
  width: 50%;
}
#locationField {
	margin-top:-1.5%; 
	width : 80%;	
}
input,textarea#customerDescription {
	border: 2px solid rgb(60,60,60);
}
input.inputTextField,textarea#customerDescription{	
	width : 100%;
}
.tableCell {
	width : 80%;
	float : left;
}
.classificationDiv {
	width : 100%;
	border: 2px solid blue;
	padding-top : 2px;
	padding-bottom : 2px;
	margin-top : 5px;
	text-decoration: none;
}
.classificationDetails td.classificationLabel {
	width : 30%
}
.classificationDetails td.classificationDropdown {
	width : 70%
}
tr >td
{
  padding-bottom : 0.2em;
}
.headerRightContent {
	position :fixed;
	right : 45px;
}
.mandatorySymbol,.validationErrorMsg {
	color : red;
} 
.dropDownclassification {
	width:100%;
	border: 2px solid rgb(60,60,60);
}
.customerDescriptionContent {
	margin-top : 5px;
}
.panel-default {
	border-color: #fff !important;
}
.panel {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) !important;
}
.blank_row
{
    height: 6px !important; 
    background-color: #FFFFFF;
}
.periodFrom {
	width : 35%;
	float : left;
}.periodTo {
	width : 45%;
	float : right;
}
.panelHeading {
	font-size:19px; margin-left:4%
}
:-ms-input-placeholder {
	color : grey;
}
.loadProfileDetails {
	width : 105%;
}
.tooltipImage {
	width: 16px;height:20px;margin-top:-4px;
}
.tooltip > .tooltip-inner {
    background-color: #C1CEDF;
    color : black;
    max-width:270px !important;
    text-align: left;
}
.tooltipImage + .tooltip > .tooltip-inner {
    background-color: #C1CEDF;
    color : black;
    max-width:250px !important;
    text-align: left;
    padding-left: 27.95%;
}
.tabletooltipImage {
	width: 16px;height:20px;margin-top:-4px;
}

.tabletooltipImage + .tooltip > .tooltip-inner {

    background-color: #C1CEDF;

    color : black;
     
     padding-left: 6.95%;
     width : 99.9%;
     height:17.9%;
     white-space:pre-wrap;
     max-width:none;
     text-align: left;
 }
 .tabletooltipImage1{
 	width: 16px;height:20px;margin-top:-4px;
}

.tabletooltipImage1 + .tooltip > .tooltip-inner {

    background-color: #C1CEDF;

    color : black;
    /* 
     padding-left:  -10%;
     width : 20%;
     text-align: left;*/
       top: 71px !important;
    left: 679px !important;
    right: 770px !important;
 }
.container{
	margin-top:60px;
}
#logOutSection  {
	position: fixed;
	top: 60px;
	right: 17px;
	display: none;
	padding: 0.4em;
	background-color: #F37420;
	text-align: center;
	width: 18.5%;
	line-height: 20px;
	margin-top: -13px;
	font-size: 13pt;
}

#profile_section {
	float:right;
	width:20px;
	margin-top:3px;
	margin-right:15px;
}
a#logOutLink{
	color:white;
	text-decoration: none !important;
}
a.logOutLink{
	color:white;
	text-decoration: none !important;
}
.parameterSelectBox {
	width:85%;
	border: 2px solid rgb(60,60,60);
}
.paramTable input {
	width:60%;
}
table.paramContainer tr:nth-child(odd){
	background:#FFDA98;
	border: 2px solid white;
}
table.paramContainer tr:nth-child(even){
	background:#FFEED2;
	border: 2px solid white;
}
.disabledImage {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}
.paramContainer td{
	padding-left : 1.5%;
}


.comparison_table {

	border: none;
	border-spacing: 10px;
	border-collapse: separate;
    border-spacing: 5px 0;
    width: 141%;
}

.comparison_table th {
	border: 0px solid black;
    max-width:none;
    text-align: center;
}

.comparison_table td {
	border: 0px solid black;
	 padding: .5px 0;
	 text-align: center;
}
.comparison_table  tr:first-child th {
  background-color:  #FFC300;
}
.comparison_table  tr:nth-child(odd) td {
  background-color: #FAD6A5;
}

.comparison_table  tr:nth-child(even) td {
  background-color: #feedea;

}
.comparison_table_heading th {

	
	text-align: center;
	font-size: 12px;
}
.blue-tooltip + .tooltip > .tooltip-inner {

    background-color: #C1CEDF;

    color : black;
     
     padding-left: 20px;
     width : 250%;
 }

 .popup_div {
	width:40%; position:fixed;
     

    /* color with alpha channel */
    background-color: rgba(255,255,255, 1.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
     margin: 0 auto;
    top: 25%;
    left: 11.9%;
    right: 135px;
}

.edit_popup_div {
	width:auto;
	height: auto;
	 position:fixed;
     

    /* color with alpha channel */
    background-color: rgba(255,255,255, 1.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
     margin: 0 auto;
    top: 25%;
    left: 11.9%;
    right: 135px;
}

.confirm_box {

	padding-left: 92%; 
	padding-top: 0px;
	border-radius:0px;
}

.Confirm-box-footer {
	
	
	padding-left: 85%;
	 background-color: #c1cedf;
	 height:40%; 
	 line-height: 77%;
	 border-radius:0px;
	 border-top:6px solid #ddd;
}

.comparison_table_div{

	width:808px;
	height: 181px; 
	overflow: auto;
	padding-left: 0px;
}

.showGraphs
{
	width: 47%;

}
.table_section{
	/*max-height: 400px; */
}

input[type="checkbox"]{
  width: 16px; /*Desired width*/
  height: 16px; /*Desired height*/
}

/* added 15-12-2016 */
.edit_popup_div {
	width:auto;
	height: auto;
	 position:fixed;
     

    /* color with alpha channel */
    background-color: rgba(255,255,255, 1.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
     margin: 0 auto;
    top: 25%;
    left: 11.9%;
    right: 135px;
}

.edit_confirm_box {

	padding-left: 95%; 
	padding-top: 0px;
	border-radius:0px;
}
.edit_Confirm-box-footer {
	
	
	padding-left: 85%;
	 background-color: #c1cedf;
	 height:40%; 
	 line-height: 77%;
	 border-radius:0px;
	 border-top:6px solid #ddd;
}

/* added 15-12-2016 */



/* Fpr TariffCollection Page  */

.spaceDiv {

	white-space:pre;
}

.tariff-calculation th {
    line-height: 1.9em;
    padding: 4px;
}

/* Fpr Status Page  */
#logOutSection a {

			float: left;
		}

.notification {
    width: 163px;
  height: 163px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  text-align: center;
  background: #000
}

/* For Show graph popup  */

.reportSection {
    border: 1px solid black;
    border-image: none;
    max-width: 95%;
    word-wrap: break-word;
}
/*For groups column input boxes in calculation section*/
#groupingId , #paramInput{
	border:none;
	text-align:center;
	width:50px;
}
/*  For Hourglass */

#load-screen {
	z-index : 999;
    width: 100%;
    height: 100%;
    background: url("../image/preloader.gif") no-repeat center center #fff;
    position: fixed;
    opacity: 0.7;
}

.comparison_caltable_div{
	width:1126px;
	height: 181px; 
	overflow: auto;
}
.caln_param_table_div{
	width:1126px;
	height: 111px; 
	overflow: auto;
}
.comparison_edittable_div {

    width: 1207px;
    height: 40px;
    overflow: auto;
} 