@CHARSET "ISO-8859-1";

header, footer {
	/* background-color: #a68a5a;
	color: #fff; */
	
}

.slct-width-search {
	width: 200px;
	height: 26px;
	border: 1px solid #a68a5a;
}

.txtbox-width-search {
	width: 200px;
	border: 1px solid #a68a5a;
}

.blck-bottom {
	border-bottom: 1px solid black;
}

.btn-search-photo {
	background-color: #471200;
	border: medium none;
	border-radius: 0px;
	padding: 4px 8px 4px 4px;
	text-align: center;
	overflow: visible;
	color: white;
	cursor: pointer;
}

.ui-grid-exp .ui-grid-header-cell {
	background-color: #f1a778;
}

.widthmodal .modal-dialog {
	width: 950px;
}

/* .allborder, section {
	border: 1px solid #a68a5a;
	height: 300px;
} */

/* .allborder div {
	height: 50px;
	margin-top: 27px;
} */
.widthmodal .modal-footer {
	text-align: left;
}

.widthmodal .modal-title {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	margin-left: 16px;
	margin-bottom: 10px;
}

/* section .dropdown-toggle {
	margin-top: 93px;
} */

/* section .dropdown-menu {
	text-align: center;
	margin-left: 41%;
	width: 205px;
	cursor: pointer;
} */
/* section .dropdown-menu:hover {
	background-color: lightblue;
} */

.thumb {
	width: 24px;
	height: 24px;
	float: none;
	position: relative;
	top: 7px;
}

form .progress {
	line-height: 15px;
}

.progress {
	display: inline-block;
	width: 798px;
	/* border: 3px groove #CCC; */
	border-style: none;
	margin-bottom: 0px;
	height: 15px;
	border-radius: 0px;
}

.progress div {
	font-size: smaller;
	background: #f1a778;
	width: 0px;
}

.my-document-form .progress {
	width: 1098px;
	margin-left: -10px !important;
}

#uploadModal .modal-content, .medialinks-div .modal-content,
	.documentsearch-div .modal-content , .browsedocs-div .modal-content{
	border-radius: 0px;
	border: 1px solid black;
}

#uploadModal .row {
	margin-top: 26px;
	margin-bottom: 28px;
	font-family: Arial, helvetica, sans-serif !important;
}

.documentsearch-div .modal-header, .medialinks-div .modal-header {
	border-bottom: 1px solid black;
}

#uploadModal .modal-footer {
	border: 0px;
	text-align: center;
	font-family: Arial, helvetica, sans-serif !important;
}

#uploadModal input[name*='description'] {
	width: 300px;
}

#uploadModal select[name*='singleSelect'] {
	width: 200px;
	height: 25px;
}

#uploadModal .modal-footer .btn {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #471200;
	border: medium none;
	font-weight: bold;
	text-align: center;
	overflow: visible;
	color: white;
}

#uploadModal .modal-footer .btn:hover {
	background-color: #a38a61;
	color: #eee;
}

#uploadModal i {
	color: #b51218;
}

.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.medialinks table, .medialinks td, .medialinks th {
	border: 1px solid black;
	text-align: center;
}

.medialinks th {
	background-color: #f1a778;
	width: 146.67px;
}

.link-id {
	width: 240px !important;
	max-width: 240px !important;
}

.link-id button.btn-font {
	margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3px 5px 3px 5px;
}

.media-desc {
	width: 319.4px !important;
	max-width: 318.4px !important;
}

.media-desc span input[type*="text"] {
	width: 320px !important;
}

.medialinks td {
	width: 146.67px;
	line-height: 35px;
	text-transform: uppercase;
	word-break: break-all;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 146.67px;
}

.medialinks tbody {
	display: block;
	height: 142px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.medialinks thead {
	display: block;
}

.medialinks thead th:last-child {
	width: 80px;
}

.medialinks tbody td:last-child {
	width: 64px;
}

.medialinks table {
	width: 1080px;
	border-spacing: 0;
	table-layout: fixed;
}

.medialinks-div .row, .documentsearch-div .row {
	margin-top: 20px;
	margin-bottom: 11px;
}

.document-desc-input {
	width: 80%;
	display: inline;
}

.borderstyle {
	border: 1px solid #a68a5a;
	border-radius: 0px;
	height: 29px;
	width: 100%;
	padding: 0px 12px;
}

.btn-font {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #471200;
	border: medium none;
	font-weight: bold;
	text-align: center;
	overflow: visible;
	color: white;
	margin-top: 3px;
	margin-bottom: 3px;
}

.btn-font:hover {
	background-color: #a38a61 !important;
	color: #eee;
}

.medialinks-div .modal-dialog, .documentsearch-div .modal-dialog {
	width: 1100px;
}

#uploadModal .modal-dialog {
	width: 800px;
}

.btn-font.active.focus, .btn-font.active:focus, .btn-font.active:hover,
	.btn-font:active.focus, .btn-font:active:focus, .btn-font:active:hover,
	.open>.dropdown-toggle.btn-font.focus, .open>.dropdown-toggle.btn-font:focus,
	.open>.dropdown-toggle.btn-font:hover, .btn-font.active, .btn-font:active,
	.open>.dropdown-toggle.btn-font, .btn-font.focus, .btn-font:focus {
	border-color: #a38a61;
	background-color: #a38a61;
	color: #eee;
	outline: none;
}

.typeahead-demo {
	padding-left: 10px;
	padding-right: 10px;
}

.scrollit {
	overflow: scroll;
	height: 100px;
}

.medialinks-border {
	border: 1px solid #a68a5a;
	border-radius: 0px;
}

.medialinks select, .medialinks input[type*="text"] {
	width: 169px !important;
	height: 35px !important;
}

.medialinkadd-mesg {
	color: green;
	font-weight: bold;
}

.documentsearch-div .input-group-addon {
	padding-top: 4px;
}

.logout {
	color: #b51218;
	text-decoration: underline;
	cursor: pointer;
}

.logout:hover {
	color: e11b22;
}

.documentsearch-div .ui-grid-row:hover .ui-grid-cell {
	color: white;
	background: #aec2c6;
	font-weight: bold;
	cursor: pointer;
}

.documentsearch-div  .ui-grid-cell {
	text-transform: uppercase;
	border-bottom: 1px solid #d4d4d4 !important;
}

.documentsearch-div  .ui-grid-viewport {
	height: 284px !important;
}

#Header .Left h2 {
	padding: 10px 0;
	margin: 0;
	color: #70665c;
	font-size: 28px;
}

#Header .Left {
	padding-left: 20px;
	padding-top: 0;
	width: 48%;
	float: left;
}

#Header {
	border-bottom: 1px solid #70665c;
	background: url(../images/Header.png);
	height: 73px;
}

#Header .Right {
	background: url(../images/WesternPower.png) 98% 0 no-repeat;
	padding: 32px 10px 0 0;
	margin-top: 15px;
	width: 48%;
	float: left;
	text-align: right;
}

.user-media .panel-title {
	font-size: 18px;
}

.user-media {
	cursor: pointer;
}

.user-media .panel-body {
	padding: 14px;
}

.user-media .panel-body:hover {
	background: #f1a778;
}

.btn-margin {
	margin-top: 14px;
}

.input-margin{
	margin-top: 2px;
}
.user-media div {
	border-bottom: 1px solid #F2F2F2;
}

.version {
	font-size: smaller;
	color: gray;
}

.delete-btn {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.ellipses {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	text-transform: uppercase;
}

.my-document-form .modal-footer {
	border-top: 1px solid black;
}

.scrollable-options-div {
	height: 127px;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-y: scroll;
}

.modal-footer .btn+.btn {
	margin-bottom: 3px !important;
}

.link-id input{
	width: 180px !important;

}

.link-type span select {
    width: 145px !important;
}

.validateIdForm .row{
	margin-top: 4px;
}

.btngrey{
	background-color: grey;
	opacity: 0.5;
}

 .browsedocs-div .modal-content{
	width: 800px;
}

.margindown{
	margin-bottom: 10px;
	height: 30px;
}
/*******************************************************************************/
/* condition import portal project*/
.input-username, .input-password, .login-button,.browse-upload, .desc-upload, .select-upload, .btn-upload {
    margin-top: 15px;
}

.loginform .panel-heading {
    background-color: #f1a778;
    color: #ffffff;
}

.loginform{
	margin-top: 30px;
}

/* .import-head{
	    width: 150%;
    margin-left: -30%!important;
} */

.importform> div{
	margin-top: 10px;
}

.import-grid{
	margin-top: 10px;
}
.nav-menu>li>span {
	position: relative;
	display: block;
	padding: 10px 15px;
	cursor: pointer;
}

.nav-menu>li>span:focus, .nav-menu>li>span:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav-menu>li>span:hover {
    border-color: #eee #eee #ddd;
}

.nav-menu>li>span:hover {
    border-color: #eee #eee #ddd;
    background-color: #f1a778;
    color: #ffffff;
    height: 40px;
}

.nav-tabs>li.active>span, .nav-tabs>li.active>span:focus, .nav-tabs>li.active>span:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-menu>li>span:focus, .dropdown-menu>li>span:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #f1a778;
}

.nav-menu li[disabled] {
    pointer-events: none;
    opacity: 0.6;
}

.usernameDiv span {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.versionlogout{
	margin-left: 65px;
    color: #23527c !important;
    text-decoration: underline;
    cursor: pointer;
}

.form-addtemplate,.form-existtemplate,.form-createtemplate{
	overflow: hidden;
}

.margin-create{
	margin-top: 20px;
}

.loadingImage{
	/* background: url(../images/processing.gif); */
	    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 2000;
    background-color: grey;
    color: #ffffff;
}

.loadingImage img{
    margin: auto;
    height: 30%;
}
.relUiView{
	position: relative;
}
.sizeCreate{
margin-left: -15%;
    width: 130%;
}

.sizeCreate .loader-container{
	 width: 130%;
}

.sizeCreate .loadingImage img{
	 height: 20%;
}