body {
			color:black;
		}
		.header,.footer {
			padding: 0.4em;
			color: white;
			background-color: #F37420;
			clear: left;
			text-align: left;
			width :100%;
			line-height : 30px;
			font-size : 15pt;
			
		}		
		.footer-image {
			 margin: auto;
		    position: absolute;
		    top: 0;
		    width: 142px;
			
		}
		.panel-heading {
			background-color : #C1CEDF !important;
			height : 25px !important;
			
		}
		.panel-title {
			margin-top : -9px !important;
		}
		.toggleButton {
			text-decoration:none !important;
		}
		.toggleButton:after {
			content: '\02796';
			font-size: 12px;
			line-height: 24px;
			text-align: center;
			color: black;
			float: left;
			background: white;
			width: 24px;
			height: 24px;
			border-radius: 50%;			
		}
		.toggleButton.collapsed:after {
			content: "\2795";
		}
		.formDescription {
			font-weight : bold;
			font-size : 16px;
		}
		.fieldDescription {
			color : grey;
		}
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;        
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
	  table {
  width: 100%;
}
table.classificationDetails {
	width : 60%;
}
.customerDetails td {
  width: 50%;
}
#locationField {
	margin-top:-1.5%; 
	width : 80%;	
}
input {
	border: 2px solid rgb(60,60,60);
}
input.inputTextField{	
	width : 100%;
	height: 27px;
	line-height: 27px;
}
input#customerDescription {
	width : 95%;
}
.tableCell {
	width : 80%;
	float : left;
}
.tableCell > div > input {
	width : 100%;
}
.classificationDiv {
	width : 100%;
	border: 2px solid blue;
	padding-top : 12px;
	padding-bottom : 2px;
	margin-top : 2px;
	text-decoration: none;
	height:187px;
}
.classificationDetails td.classificationLabel {
	width : 30%
}
.classificationDetails td.classificationDropdown {
	width : 70%
}
tr >td
{
  padding-bottom : 0.2em;
}
.headerRightContent {
	float : right;
}
.mandatorySymbol,.validationErrorMsg {
	color : red;
} 
.dropDownclassification {
	width:90%;
	border: 2px solid rgb(60,60,60);
}
.customerDescriptionContent {
	margin-top : 5px;
}
.panel-default {
	border-color: #fff !important;
}
.panel {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) !important;
}
.blank_row
{
    height: 8px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}
.parameter_section
{
	padding-top:7px;
}
.industry_div{

	padding-left:1px;
}
.classificationdropdownbox{
	width:330px;
}
.business_classification_box{
	padding-left:137px;
	-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}
.sub_classification_box{
	padding-left:259px;
	-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}


.myDiv {
/*  border:2px solid #0094ff;
  -webkit-border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;*/
	  border-style: solid;
	 border-width: 1px;
	/* -moz-border-radius: 15px;
	 -webkit-border-radius: 15px;*/
	/* border-radius: 15px;
  */
  width:330px;
  font-size:12pt; /* or whatever */
}
.myDiv h2 {
  padding:4px;
  margin:0;
  font-size:11pt; /* or whatever */
}
/*.businessDiv{
	padding-left:90px;
	-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;

}
*/

.tooltip > .tooltip-inner {
    background-color: #C1CEDF;
    color : black;
    text-align: left;
}

.blue-tooltip + .tooltip > .tooltip-inner {
	
	background-color : #C1CEDF;
	color : black;
	padding-left : 20px;
	width : 250%;
	text-align: left;
	
}
#logOutSection {
position: fixed; top: 60px; right: 0px;
display: none;
padding: 0.4em;
background-color: #F37420;
text-align: center;
width :18.5%;
line-height : 20px;
margin-top : -13px;
font-size : 13pt;
}
#profile_section {
	float:right;
	width:20px;
	margin-top:3px;
	margin-right:15px;
}
a#logOutLink{
	color:white;
	text-decoration: none !important;
}
.header {
			padding: 0.4em;
			color: white;
			background-color: #F37420;
			clear: left;
			text-align: left;
			width :100%;
			line-height : 30px;
			margin-bottom: 1px;
			margin-top : 1px;
			font-size : 15pt;
		}
.headerRightContent {
	position :fixed;
	right : 45px;
}
.container{
	margin-top:60px;
}
.confirm_box1 {

	padding-left: 92%; padding-top: 0px;border-radius:0px;
}

.confirm_box2 {

	padding-left: 92%; padding-top: 0px;border-radius:0px;
}
.popup_div {
	width:40%; position:fixed;
     

    /* color with alpha channel */
    background-color: rgba(255,255,255, 1.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 132px;
    left: 451px;
    bottom: 125px;
    right: 135px;height:14%;
}

.Confirm-box-footer {
	
	padding-left: 85%; background-color: #cdc7c6;height:40%; line-height: 77%;border-radius:0px;
}
.button-tooltip + .tooltip > .tooltip-inner {
    background-color: #C1CEDF;
    color : black;
    padding-left: 10%;
    width : 250%;
    height: 10%;
    text-align: left;
 }
 #logOutSection a {
			float: left;
			color:white;
		}

.notification {
    width: 163px;
  height: 163px;
  border-radius: 50%;
  font-size: 17px;
  color: #fff;
  text-align: center;
  background: #000
}