/* ------- Common header and other styles start -------*/
.headerWrap {
	background: url(../images/Header.png);
	border-bottom: 1px solid #939699;
	height: 73px;
	margin-bottom: 30px;
}

.headerWrap .headerLeft {
	padding-left: 20px;
	padding-top: 0px;
	width: 48%;
	float: left;
}

.headerWrap .headerRight {
	background: url(../images/WesternPower.png) 98% 0 no-repeat;
	padding: 32px 10px 0 0;
	margin-top: 15px;
	width: 48%;
	float: left;
	text-align: right;
}

.headerWrap .mainTitle {
	font-size: 20px;
	font-weight: bold;
	color: #939699;
}

.footerWrap {
	paddding: 5px 10px 5px 30px;
}

/* ------- Common header and other styles End -------*/

/* ------- admin page - Add New Test Templates styles Start -------*/
.adminWrap {
	width: 800px;
	margin-left: 200px;
}

.imdTxt.adminDescBox {
	width: 632px;
	margin-left: 5px;
}

.headerRadioBtn {
	Margin-left: 30px;
}
/* ------- admin page - Add New Test Templates styles End -------*/

/* ------- admin page - Manage existing Test Templates styles start  -------*/
.buttonStyle.adminBackBtn {
	width: 150px;
	margin-right: 30px;
	cursor: pointer;
	padding: 5px 2px;
	border: 0px;
	font-size: 13px;
	background: #471200;
	color: #ffffff;
}

.adminRecord.importRecordList th, .adminRecord.importRecordList td {
	text-align: center;
	min-width: 170px;
	max-width: 170px;
	border: 1px solid #C0C1C3;
	height: 25px;
	font-size: 13px;
	font-family: arial;
}

.adminRecord.importRecordList th.adminRemarks, .adminRecord.importRecordList td.adminRemarks
	{
	min-width: 435px;
	max-width: 435px;
}

.adminFrmNewTemp {
	margin-left: 20px;
	margin-top: 15px;
}

.adminFrmWrap {
	margin-left: 20px;
	margin-top: 15px;
	display: none;
}

.imdTxt.adminTxtBox {
	width: 265px;
	margin-left: 5px;
}

.imdTxt.adminRemarkBox {
	width: 641px;
	margin-left: 5px;
}

.ipdropdown.adminTxtBox {
	width: 265px;
	margin-left: 6px;
}

.tboxLabel.remarkLabel {
	width: 125px;
}

.buttonStyle.adminBackBtn {
	width: 150px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 4px;
	padding-top: 5px;
}

.adminChkbox {
	margin-left: 5px;
	margin-right: 5px;
}

.adminFrmWrap .tboxLabel {
	min-width: 90px;
}
/* ------- admin page - Manage existing Test Templates styles End  -------*/

/* ------- Custom Search Import styles start -------*/
.searchImportWrap {
	margin: 0px auto;
	border: 1px solid #E2E1E2;
	width: 1200px;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 30px;
	font-family: arial;
	background: #fff5e4;
}

.importRecordWarp.searchImportResult {
	width: 730px;
}

.serachContent {
	padding-left: 80px;
	padding-right: 80px;
}

.ipdropdown.searchRes {
	width: 220px;
	margin-left: 5px;
}

.ipdropdown.searchStatus {
	width: 210px;
}

.tbox.statusLabel {
	margin-left: 20px;
}

h3.searchImport {
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 10px 20px;
	border-bottom: 1px solid #E2E1E2;
}

.ipTextstyle.searchInp {
	margin-left: 5px;
	width: 220px;
}

.ipTextstyle.searchCreateDate {
	margin-left: 5px;
	width: 153px;
}

.tbox.equip {
	margin-left: 286px;
}

.buttonWrap.searchImpBtn {
	margin: 20px 57px 30px 30px;
}

/* ------- Custom Search Import styles End -------*/

/* ------- Login page styles start -------*/
.loginWrap {
	margin: 0px auto;
	width: 500px;
	border: 1px solid #ccc;
	padding-left: 80px;
	padding-bottom: 20px;
	background: #fff5e4;
}

.loginWrap .logSbt {
	padding-left: 77px;
	padding-top: 10px;
}

.loginSbt.uploadBtn {
	font-size: 17px;
}

h2.loginHeading {
	font-family: verdana;
	font-size: 18px;
	color: #000;
}

.logError {
	font-family: verdana;
	font-size: 13px;
	color: #ED1C24;
}

.logFieldLabel {
	height: 35px;
}
/* ------- Login page styles End -------*/

/* ------- Import data styles start -------*/
.outerWrap {
	margin: 0px auto;
	border: 1px solid #E2E1E2;
	width: 1200px;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 30px;
	font-family: arial;
	background: #fff5e4;
}

h3.importHeading {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0px 20px 30px;
}

.boxlineWrap {
	margin: 20px 0px;
}

.ipTextstyle {
	color: #333;
	font-size: 13px;
	padding: 5px
}

.tbox {
	margin-right: 10px;
	display: inline-block;
}

.imdDesc {
	width: 493px;
	margin-left: 10px;
	margin-right: 50px;
}

.ipFile {
	width: 350px;
	margin-left: 5px;
}

.imdTxt {
	width: 170px;
	margin-left: 5px;
}

.imdTxt.imdTxt2 {
	width: 80px;
}

.tboxLabel {
	font-family: arial;
	font-size: 13px;
	text-align: right;
	min-width: 80px;
	display: inline-block;
}

.tboxLabel.tboxLabel2 {
	text-align: left;
	min-width: 80px;
}

.importParaWarp {
	width: 475px;
	height: 175px;
	margin-left: 30px;
	overflow-Y: auto;
}

.redTxt {
	color: #ee1d0d;
}

.importRecordList, .importdataList {
	border: 1px solid #ccc;
	margin-right: 5px;
	border-collapse: collapse;
	border-spacing: 1px 5px;
}

.importRecordList th, .importdataList th {
	background: #E2E1E2;
	font-weight: normal;
}

.importRecordList th, .importRecordList td, .importdataList th,
	.importdataList td {
	text-align: center;
	min-width: 95px;
	max-width: 95px;
	border: 1px solid #C0C1C3;
	height: 25px;
	font-size: 12px;
	font-family: arial;
}

.searchImportResult .importRecordList th, .searchImportResult .importRecordList td,
	.searchImportResult .importdataList th, .searchImportResult .importdataList td
	{
	min-width: 145px;
	max-wdith: 155px;
}

.importRecordList th {
	font-weight: bold;
}

.importRecordWarp {
	overflow: auto;
	margin-left: 20px;
	margin-right: 10px;
	height: 250px;
	padding-right: 10px;
}

.importRecordList {
	margin: 0px 5px 5px 0px;
}

.buttonWrap {
	margin: 20px 0px 30px 30px;
	text-align: center;
}
/* ------- Import data styles End -------*/

/* ------- Import page styles start -------*/
.importWrap {
	font-family: verdana;
	border: 1px solid #C0C1C3;
	margin: 50px auto 0;
	width: 600px;
	padding-bottom: 80px;
	position: relative;
	background: #fff5e4;
}

.importMainTitle {
	font-size: 20px;
	font-weight: bold;
	padding-left: 15px;
}

.importWrap .browserbox {
	width: 550px;
}

.importWrap h2 {
	font-size: 15px;
	font-weight: bold;
	color: #939699;
	padding: 0px 5px 10px 20px;
	border-bottom: 1px solid #C0C1C3;
}

.importWrap h2 a {
	float: right;
	padding-right: 20px;
	color: #333;
	text-decoration: none;
	font-size: 15px;
	font-weight: normal;
}

.uploadFile {
	margin: 0 auto;
	width: 580px;
}

.formStyle {
	color: #333;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.formLabel {
	width: 150px;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	font-size: 13px;
	color: #333;
}

.ipText {
	color: #333;
	font-size: 13px;
	padding: 5px;
	width: 210px;
}

.ipText.desc {
	width: 222px;
}

.ipdropdown {
	color: #333;
	font-size: 13px;
	padding: 5px;
	width: 222px;
}

.btnWrap {
	float: right;
	margin-top: 10px;
	margin-right: 50px;
}

.buttonStyle, .uploadBtn {
	width: 150px;
	margin-right: 30px;
	cursor: pointer;
	padding: 3px 2px;
	border: 0px;
	font-size: 13px;
	background: #471200;
	color: #ffffff;
}

.cancelBtn {
	margin-right: 30px;
	cursor: pointer;
	padding: 4px 50px 5px 50px;
	border: 0px;
	font-size: 13px;
	background: #471200;
	color: #ffffff;
}

.btnWrap a {
	text-decoration: none;
}

.btnWrap a .cancelBtn:hover {
	background: #a38a61;
}

.buttonStyle:hover, .uploadBtn:hover {
	background: #a38a61;
	color: #eee;
}

#descmsg.msgtxt {
	position: absolute;
	color: #ed1c24;
	font-size: 12px;
	left: 420px;
	top: 115px;
	width: 180px;
}

#uploadmsg.uploadFileMsg {
	position: absolute;
	color: #ed1c24;
	font-size: 12px;
	left: 420px;
	top: 115px;
	width: 180px;
}

}
.uploadFileTxt {
	color: #333;
	margin-top: 10px;
	width: 222px;
}

.hideElement {
	display: none;
}

.showElement {
	display: block;
}
/* ------- Import page styles end -------*/

/* ------- Application Menu styles start -------*/
.menuWrap {
	margin: 0px auto;
	padding-top: 50px;
	position: relative;
	color: #666;
	font-family: verdana;
	font-size: 13px;
	background: #ffffff;
	width: 1300px;
}

.menuWrap a {
	color: #000;
	text-decoration: none;
}

.mainMenu {
	display: inline-block;
	border: 1px solid #dedbda;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	float: left;
	width: 300px;
	margin-right: 2px;
}

.mainMenu a {
	color: #000;
	text-decoration: none;
}

.clear {
	clear: both;
}

.submenu1 {
	position: absolute;
	top: 91px;
	width: 300px;
	left: 302px;
	display: none;
	background: #ffffff;
}

.submenu2 {
	position: absolute;
	top: 88px;
	width: 300px;
	left: 648px;
	display: none;
	background: #ffffff;
}

.submenu2 .submenuContent {
	border-top: 1px solid #dedbda;
}

.menuContent {
	margin: 0px;
}

.submenuContent a {
	color: #000;
	text-decoration: none;
}

.mainMenu:hover, .submenuContent:hover {
	background: #dfdedd;
	text-decoration: underline;
	color: #666;
}

.submenuContent {
	border-left: 1px solid #dedbda;
	border-right: 1px solid #dedbda;
	border-bottom: 1px solid #dedbda;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	float: left;
	width: 300px;
}

.downArrowIcon {
	background: url("../images/down-arrow.png") no-repeat;
	background-position: center right 5px;
}

.rightArrowIcon {
	background: url("../images/right-arrow.png") no-repeat;
	background-position: center right 5px;
}

.mainMenu:hover.downArrowIcon {
	background: #dfdedd url("../images/down-arrow.png") no-repeat;
	background-position: center right 5px;
}

.submenuContent:hover.rightArrowIcon {
	background: #dfdedd url("../images/right-arrow.png") no-repeat;
	background-position: center right 5px;
}
/* ------- Application Menu styles end -------*/

/* ------- Common Styles Start -------*/
h1.mainHeading {
	font-family: verdana;
	font-size: 16px;
	color: #000000;
	margin-left: 70px;
}

.disableBtn {
	width: 150px;
	margin-right: 30px;
	cursor: pointer;
	padding: 3px 2px;
	border: 0px;
	font-size: 13px;
	background: #a38a61;
	color: #eee;
}

.menuContent.othermenu:hover {
	cursor: none;
	background: none;
	text-decoration: none;
}

.errorMessage {
	color: red;
	text-align: center;
}

.progressBar {
	padding-left: 50px;
}

#progress {
	visibility: hidden;
}

#overlay {
   background-color: #999999;
   z-index: 999;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: block;
   opacity: .9;
   filter: alpha(opacity=50);
}


/* ------- Common Styles End -------*/