html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
 font-family:  Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow:hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
}

.container {
  margin: 160px auto;
  width: 640px;
  
}

.login {
  position: relative;
  margin: 160px auto;
  padding: 20px 20px 0px;
  width: 400px;
  background: white;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
}
.login:before {
  content: '';
  position: absolute;  
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);  
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15.5px;
  font:Calibri Regular;
  color: white;
  
  background: blue;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
}
.login h2 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 13px;
  font:Calibri Regular;
  color: white;
  text-align: center;
  background: RGB(243, 116, 32);
  border-bottom: 1px solid #cfcfcf;
  
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
}


.login h3 {
  margin: -20px -20px 0px;
  line-height: 40px;
  font-size: 15.5px;
  font:Calibri Regular;
  color: blue;
   
  background: blue;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
}

.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 250px;
}
 .login input[type=submit] {
  width: 270px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #000;
  width : 80%
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
  background: #000;

}
.login p.forgot_details label {
  font-size: 12px;
  color: #777;
}
.login p.forgot_details {
  float: left;
   margin-top : 0px;
  line-height: 31px;
   margin-left: 32px;
}
.login p.submit {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: RGB(200,200,200) !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: RGB(200,200,200);
  font-size: 13px;
}

input {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 17px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: rgb(128,128,128);
  background: #C1CEDF;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  -moz-outline-radius: 3px;
}

.landing {
  margin-left: 70px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 220px;
  height: 34px;
  color: RGB(0,0,0);
  background: #C1CEDF;
  border: 1px solid;
  border-color: black;
  border-radius: 2px;
  -moz-outline-radius: 3px;
}
input[type=text]:focus, input[type=password], input[type=submit]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
  border-color: black;
}


.lt-ie9 input[type=text], .lt-ie9 input[type=password], .lt-ie9 input[type=submit] {
  line-height: 34px;
}

::-webkit-input-placeholder {
   color: RGB(200,200,200);
}

:-moz-placeholder { /* Firefox 18- */
   color: RGB(200,200,200);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: RGB(200,200,200);
}

:-ms-input-placeholder {  
   color: RGB(200,200,200);
}

.forgot {


    cursor: default;
 
}

.footer_class { background: rgb(243, 116, 32) none repeat scroll 0 0;
    color: white;
    font-size: 15.5px;
    height: 46px;
    margin: -20px -20px 21px;
  }
