
<!DOCTYPE html>
<html>
<head>
    <title>Operational UI</title>

    <style>
        body, h3 {
            font:20px Georgia;
            font-style:italic;
        }
        td {
            border:solid 1px #EEE;
            padding:2px 3px;
        }
        .input, div {
            font:13px Verdana;
        }
    </style>

        <script>
    $(document).ready(function () {


        $('table').append('<tr><td>Wind1</td><td>Wind2</td></tr>');

        // ADD ROWS TO THE TABLE.
        $('#btn').click(function(){
		var colnum = $("table").find("tr:first td").length;
		var rowString = "<tr>";
		for(i=0;i<colnum;i++)
		{
			rowString += "<td><input type='text' value='0'></td>";

		}

		rowString += "</tr>";
        	$('table tr:last')
            .after(rowString);

});
        $('#btnC').click(function(){
        	// $('table').find('tr').each(function(){
        	var i = $("table").find("tr:first td").length;
        	var j = i;
	i++;
                $('table').find('td').eq(j-1).after('<td>Wind'+i+'</td>');
                for(var k=1;i<$("table").find("tr:first td").length;k++){
                $('table').find('td').eq(1).after('<td><input type="text">0</td>');
                }
           //});

});

    });
</script>
</head>
<body>
<h2 class="tab"><table><tr>
		<td>	Generator Interim Access Tool - Operational Mode</td><td>  <a
				ng-controller="logoutCtrl" ng-click="logOut()" role="button"> Logout</a></td></tr></table>
		</h2>
		
<button id="btn">Add row</button>
<button id="btnC">Add column</button>
    <table cellpadding="1"></table>


</body>