body
{min-width: 1000px;	
	    /* height: 800px; */
    overflow-y: hidden;
}
.width100 {
	width:100%;
}
.ui-grid-header-cell-wrapper {
	height: auto !important;
}
.header-section-testing {
	background-color: green;
	color: #fff;
	font-size:14px;
	padding: 5px 20px;
	position: fixed;
	    z-index: 1;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
/*     box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12); */
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
.header-section-operational {
      background-color: blue;
      color: #fff;
      font-size:14px;
      padding: 5px 20px;
      position: fixed;
}

.dateWidth{
      width: 200px;
}
.content-section {
 
      padding: 30px 30px;
      height: 757px; 
      overflow-y: scroll;
}
.section-tab {
      width: 100%;
      background-color: lightgrey;
      padding: 3px;
      color: black;
}
.id-container text{
	width:80%;
}
.row-container {
	overflow: hidden;
	margin-top:10px;
	font-size: 12px;
}
.modal {
 text-align: center;
 padding: 0!important;
}

.modal:before {
 content: '';
 display: inline-block;
 height: 100%;
 vertical-align: middle;
 margin-right: -4px;
}

.modal-dialog {
 display: inline-block;
 text-align: left;
 vertical-align: middle;
}
button[disabled], html input[disabled]{
background: lightgrey !important;
}
.id-container {
	width: 60px;
}
input, select, textarea {
	width: 100%;
	box-shadow: -1px -1px 0px grey;
	min-height: 23px;
}
.width7 {
	width: 7%;
	float: left;
}
.width10 {
	width: 10%;
	float: left;
}
.width14 {
	width: 14%;
	float: left;
	text-align: center;
	font-size: 12px;
}
.width20 {
	width: 20%;
	float: left;
}
.width40 {
	width: 40%;
	float: left;
}
.width50 {
    text-align: left;
	width: 50%;
	float: left;
}
.paddingLeft30 {
	padding-left: 30px;
}
.paddingLeft60 {
	padding-left: 60px;
}
.input-section {
	overflow: hidden;
	margin-top: 40px;
}
.imp-text {
	color: red;
	font-size: 10px;
}
.btn-class {
	margin-left: 30px;
}
.border-grey {
	border: 2px inset rgba(181, 177, 177, 0.5);
}
.margin-right30px {
	margin-right: 30px;
}
.widthHalf {
	width: 50%;
}
.operator-container {
	overflow: hidden;
	text-align: left;
}
.operator-container textarea{
	height:180px;
	overflow-y: scroll;
}
input[type=checkbox], input[type=radio] {
	height:12px;
    box-shadow: none;
    width: 14px;
}
.gia-btn {
    width: 80px;
    margin-bottom: 5px;
}

.ui-grid-exp .ui-grid-header-cell {
    background-color: green;
}
.ui-grid-header-cell {
    color: white;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: rgba(88, 224, 88, 0.3);
}

.header-userName .btn-group{
	float: right;
}

.header-userName .btn-group span{
	float: left;
}
.header-userName .btn-group button{
	background: transparent;
}
.header-userName .btn-group .dropdown-menu{
	right: 0 !important;
	left: inherit !important;
}

.desc-textarea{
height: 100px;
}

.alignEnable{
margin: 0  !important;
    padding: 0 !important;
    margin-left: 13px !important;
    margin-top: -5px !important;
        display: inherit !important;
}

.redMand{
font-weight: bold;
color: #b51218;

}

input[type="text"].ui-grid-filter-input{
color: black;
font-weight: normal;
}

.margin20{
margin-right: 26px
}

.margin10{
margin-right: 10px;
}
.oper-align{
height: 200px;
    padding-top: 76px;
    }
    
    
    .md-select-value{
         min-width: 0px !important; 
     min-height: 0px !important;
     padding: 0px !important; 
     border-bottom-width: 0px !important;
   border-bottom-style: none !important;
    background-color: transparent !important;
    }
    
    .selectGroup{
        margin: 0 !important;
    border: 1px solid grey !important;
    width: 100% !important;
    }
    .md-container-ignore{
    display : none !important;
    }
    .alignMargin{
    margin-top: -10px;
     position: relative;
    top: 4px;
    }
    
    .footer{
        background-color: green;
    height: 20px;
    margin-top: 15px;
    }
    .md-checkbox-enabled.md-default-theme[selected] .md-icon, .md-checkbox-enabled[selected] .md-icon{
    background-color: green;
    }
    md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected],md-select-menu.md-default-theme md-content md-option[selected]:focus, md-select-menu md-content md-option[selected]:focus{
    color: black;
    }
    md-input-container:not(.md-input-has-value) md-select.ng-required .md-select-value span:first-child:after, md-input-container:not(.md-input-has-value) md-select[required] .md-select-value span:first-child:after{
    content: none !important;
    }
    
   .paddingLeft30  md-input-container.md-input-invalid md-select.md-default-theme .md-select-value, md-input-container.md-input-invalid md-select .md-select-value,
   md-select.md-default-theme.ng-invalid.ng-touched .md-select-value, md-select.ng-invalid.ng-touched .md-select-value{
    color: Black !important;
    }
    .ellipsesCell{
        box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: normal;
    width: 100%;
    padding: 5px;
    }
    .ui-grid-pinned-container .ui-grid-top-panel {
    background: green;
    width: 98%;
}
.ui-grid-selection-row-header-buttons{
opacity: 0.5;
}
input:required:invalid, textarea:required:invalid{
outline: none;
}

.menu-tabs-div .active{
	font-weight: bold;
	background-color: green;
}