<form name="ceForm" class="ceForm">
		<div class="row-container">
			<div class="width7 margin10">
				<div class="id-container">
					<label>ID</label><br>
					<input type="text" readonly name="id" ng-model="gia.id" disabled/>
				</div>
			</div>
			<div class="width7 margin20">
				<label>Version</label><br>
				<input type="text" name="id" ng-model="gia.version" readonly disabled/>
			</div>
			<div class="width20 margin20">
				<div class="paddingLeft30">
					<label>Constraint Equation Name (250 characters)<span class="redMand">*</span></label><br>
					<input type="text" name="ceNameEqn" ng-disabled="ceName()" ng-model="gia.eqn" maxlength="250" required/><br>
					 <span ng-if="duplicateCE" class="imp-text redMand">Duplicate name found. Please enter a new constraint equation name.</span> 
					 <span ng-show="submitted && ceForm.ceNameEqn.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>
				</div>
			</div>
			<div class="width20">
				<div class="paddingLeft30">
					<label>Groups<span class="redMand">*</span></label><br>
					<!-- <select name="group" ng-options="import.constraintGroupKey as import.group for import in uploadDropdown2" ng-model="gia.constraintGrpKey" multiple>
						
					</select> -->
					
					<md-input-container class="selectGroup"> 
									<md-select ng-model="gia.constraintGrpKey"
										md-on-close="clearSearchTerm()"  ng-model-options="{trackBy: '$value.group'}"
										data-md-container-class="selectdemoSelectHeader" multiple="" name="groupName" required>
									 <md-optgroup
										> <md-option
										ng-value="import" 
										ng-repeat="import in uploadDropdown2  |
              filter:searchTerm">{{import.group}}</md-option>
									</md-optgroup> </md-select> </md-input-container>
									<span ng-show="submitted && ceForm.groupName.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>

						<!-- <div ng-controller="SelectHeaderController" class="md-padding"
							ng-cloak>
							<div>
								<h1 class="md-title">Pick a vegetable below</h1>
								<div layout="row">
									<md-input-container> <label>Vegetables</label>
									<md-select ng-model="selectedVegetables"
										md-on-close="clearSearchTerm()"
										data-md-container-class="selectdemoSelectHeader" multiple>
									<md-select-header class="demo-select-header">
									<input ng-model="searchTerm" type="search"
										placeholder="Search for a vegetable.."
										class="demo-header-searchbox md-text"> </md-select-header> <md-optgroup
										label="vegetables"> <md-option
										ng-value="vegetable"
										ng-repeat="vegetable in vegetables |
              filter:searchTerm">{{vegetable}}</md-option>
									</md-optgroup> </md-select> </md-input-container>
								</div>
							</div>
						</div> -->
					</div>
			</div>
			
			<div class="width40">
				<div class="paddingLeft60">
					<label>Description (4000 characters)<span class="redMand">*</span></label><br>
					<textarea class="desc-textarea" name="descName" ng-model="gia.desc" maxlength="4000" cols="150" row="8" required/></textarea>
					<span ng-show="submitted && ceForm.descName.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>
				</div>
			</div>
		</div>
		
		<div class="input-section">
	
			<div class="width100">
				<div class="row-container">
					<span>LHS<span class="redMand">*</span></span>
					<button class="btn-class"  ng-click="add()" ng-disabled="addBtndisable()">{{addBtnName}}</button>
					
				</div>
			</div>
			
			<div class="width100">
				<div class="row-container">
					<div class="width14">
						<div class="margin-right30px">
						<div style="overflow:hidden">
							<div class="width50">
								<label>Coefficient</label>
								<input type="text"  name="coeffName" ng-model="gia.coefficient" valid-number />
								<span ng-show="emptyValue" class="imp-text redMand">*Please fill in this mandatory field.</span>
							</div>
							<div class="width50">
								<label>Variable</label>
								<select name="variableName" ng-change="changeVariable(gia.coefficientKeyValue)"  ng-options="import as import.variable for import in uploadDropdown3 track by import.lhskey" ng-model="gia.coefficientKeyValue" multiselect>
									
								</select>
								<span ng-show="emptyValue" class="imp-text redMand">*Please fill in this mandatory field.</span>
							</div>
						</div>
						<div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns style="height: 157px;  margin-bottom: 18px;" class="ui-grid-exp"></div>
						</div>
					</div>
					<div class="width10">
						<div class="paddingLeft30 operator-container oper-align">
							<label>Operators (&lt;=,>=,=)<span class="redMand">*</span></label>
							<select class="widthHalf" name="operName" ng-model="gia.oper" required>
									<option>>=</option>
									<option><=</option>
									<option>=</option>
								</select><br>
								<span ng-show="submitted && ceForm.operName.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>
						</div>
					</div>
					<div class="width20">
						<div class="paddingLeft30 operator-container">
							<label>RHS<span class="redMand">*</span></label>
							<textarea name="rhsName" ng-model="gia.rhs"  required/></textarea>
							<span ng-show="submitted && ceForm.rhsName.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>
						</div>
					</div>
					<div class="width20">
						<div class="paddingLeft30 operator-container">
							<label>Comments (4000 characters)<span class="redMand">*</span></label>
							<textarea name="comment" ng-model="gia.comm" maxlength="4000" required/></textarea>
							<span ng-show="submitted && ceForm.comment.$error.required" class="imp-text redMand">*Please fill in this mandatory field.</span>
						</div>
					</div>

					<div class="width7">
						<div class="paddingLeft30 operator-container">
							<label>Enable</label>
							<input class="alignEnable" type="checkbox" ng-change="enableChange()" name="isEnable" ng-model="gia.isEnabled"/>
						</div>
					</div>
					<div class="width7">
						<div class="paddingLeft30 operator-container">
							<label>Start Date</label>
							<input type="text" ng-pattern='/^(31[\/.](0[13578]|1[02])[\/.](18|19|20)[0-9]{2})|((29|30)[\/.](01|0[3-9]|1[1-2])[\/.](18|19|20)[0-9]{2})|((0[1-9]|1[0-9]|2[0-8])[\/.](0[1-9]|1[0-2])[\/.](18|19|20)[0-9]{2})|(29[\/.](02)[\/.](((18|19|20)(04|08|[2468][048]|[13579][26]))|2000))$/' 
							name="startDate" ng-blur="startDateFocus()"  ng-change="changedStartDate()"
							 ng-model="gia.startDate" placeholder="dd/mm/yyyy"/>
						<!-- <p ng-show='ceForm.startDate.$error.pattern'>Enter valid date</p> -->
<p class="redMand" ng-show='startDateValid || ceForm.startDate.$error.pattern'>Please enter a valid date from today&#39;s date in the format of dd/mm/yyyy.</p>  
  <!-- <p ng-show='ceForm.startDate.$error.required'>mandatory field</p> -->
						</div>
					</div>
					<div class="width7">
						<div class="paddingLeft30 operator-container">
							<label>End Date</label>
							<input ng-pattern='/^(31[\/.](0[13578]|1[02])[\/.](18|19|20)[0-9]{2})|((29|30)[\/.](01|0[3-9]|1[1-2])[\/.](18|19|20)[0-9]{2})|((0[1-9]|1[0-9]|2[0-8])[\/.](0[1-9]|1[0-2])[\/.](18|19|20)[0-9]{2})|(29[\/.](02)[\/.](((18|19|20)(04|08|[2468][048]|[13579][26]))|2000))$/' 
							type="text"   ng-change="changedEndDate()" name="endDate" ng-blur="endDateFocus()"  ng-model="gia.endDate" placeholder="dd/mm/yyyy"/>
							<!-- <p ng-show='ceForm.endDate.$error.pattern'>Enter valid date</p> -->
  <p class="redMand" ng-show='endDateValid  || ceForm.endDate.$error.pattern '>Please enter a valid date that is in the future of the Start Date in the format of dd/mm/yyyy.</p> 
						</div>
					</div>
					<div class="width14">
						<div class="paddingLeft30 operator-container">
						<br>
							<div><button class="btn-class gia-btn" ng-disabled="clickedRow" ng-click="saveBtn(gia)">Save</button></div>
							<div><button class="btn-class gia-btn" ng-disabled="disableClone()" ng-click="cloneBtn()">Clone</button></div>
							<div><button class="btn-class gia-btn" ng-disabled="disableDelete()" ng-click="deleteBtn()">Delete</button></div>
							<div><button class="btn-class gia-btn" ng-click="publishBtn()">Publish</button></div>
							<div><button class="btn-class gia-btn">Refresh</button></div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="width100">
				<div ui-grid="gridOptions1" ui-grid-pagination ui-grid-selection ui-grid-resize-columns class="ui-grid-exp"></div>
				<!-- <div ui-grid="gridOptions"  ng-if="hasData"
								ui-grid-selection ></div> -->
			</div>
	
		</div>
		</form>