
<!-- Variable data Mapping -->

<!-- Form -->

<link rel="stylesheet" type="text/css" href="css/TestPlatform/application.css">
<div class="test-platform">


<!-- Variable data Mapping -->

<!-- Form -->

<div class="" id="variableDataMapping" ng-controller="VariableCtrl">
  <div class="collapse-heading">

    <span class="pull-left glyphicon glyphicon-menu-right" ng-show="closed" ng-click="closed=false"></span>
    <span class="pull-left glyphicon glyphicon-menu-down" ng-hide="closed" ng-click="closed=true"></span>
    <h2>Variable Data Mapping</h2>
  </div>
  <div ng-hide="closed" class="collapse-content">

    <form name="form" novalidate>

      <div class="row no-gutter">
        <div class="col-xs-2">

          <div class="form-group">
            <label class="control-label" for="varName">Variable Name<span class="text-danger">*</span></label>
            <input name="name" id="varName" type="text" class="form-control" ng-model="record.name" required ng-maxlength="256" maxlength="256" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.name.$error" ng-if="form.name.$touched">
              <span ng-message="required">This field is required.</span>
              <span ng-message="maxlength">Field character limit exceeded.</span>
              <span ng-message="minlength">Field must be at least 2 characters in length.</span>
              <span ng-message="unique">Duplicate found. Value must be unique.</span>
              <span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
              <span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
          <div class="form-group" ng-hide="record.giaFlag === 'NA' || !record.giaFlag">
            <label class="control-label" for="objectiveFunctionCoefficient">Objective Coefficient<span class="text-danger">*</span></label>
                    <input id="objectiveFunctionCoefficient" name="objectiveFunctionCoefficient" class="form-control" type="number" ng-model="record.objectiveFunctionCoefficient" ng-blur="validateUniqueness()" ng-value="(record.dummyFlag === 'T')?-10000:1" ng-required="!(record.giaFlag === 'NA' || !record.giaFlag)"/>
            <div class="text-danger" ng-messages="form.objectiveFunctionCoefficient.$error" ng-if="form.objectiveFunctionCoefficient.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

        </div>

        <div class="col-xs-1">

          <div class="form-group">
            <label class="control-label" for="varAlias">Alias<span class="text-danger">*</span></label>
            <input id="varAlias" name="alias" type="text" class="form-control" ng-model="record.alias" required min="2" maxlength="256" ng-minlength="2" ng-maxlength="256" ng-pattern="/^[A-Za-z0-9\.\_]*$/" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.alias.$error" ng-if="form.alias.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <label class="control-label" for="varDescription">Description<span class="text-danger">*</span></label>
          <textarea id="varDescription" name="description" class="form-control" rows="4" ng-model="record.description" required ng-maxlength="4000"></textarea>
          <div class="text-danger" ng-messages="form.description.$error" ng-if="form.description.$touched">
            <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
          </div>
        </div>

        <div class="col-xs-1">
          <div class="form-group">
            <label class="control-label" for="varGenerator">GIA Generator?<span class="text-danger">*</span></label>
            <select id="varGenerator" name="giaFlag" class="form-control" ng-change="record.objectiveFunctionCoefficient=1;"  ng-options="item.id as item.label for item in giaFlagOptions track by item.id" ng-model="record.giaFlag" required>

            </select>
            <div class="text-danger" ng-messages="form.giaFlag.$error" ng-if="form.giaFlag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="varFacilityName">Facility Name</label>
            <input id="varFacilityName" name="facilityName" class="form-control" type="text" ng-model="record.facilityName" ng-maxlength="30" ng-blur="validateUniqueness()"/>
            <div class="text-danger" ng-messages="form.facilityName.$error" ng-if="form.facilityName.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label" for="varScadaActualPiTag">SCADA PI Tag</label>
            <button type="button" ng-click="kpiGraphURL(record.scadaActualPiTag)" ng-disabled="!record.scadaActualPiTag">Check</button>
            <input id="varScadaActualPiTag" name="scadaActualPiTag" class="form-control" type="text" ng-model="record.scadaActualPiTag" ng-blur="validateUniqueness()"/>
            <div class="text-danger" ng-messages="form.scadaActualPiTag.$error" ng-if="form.scadaActualPiTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="scadaActualPiQualityTag">SCADA Quality PI Tag</label>
            <button type="button" ng-click="kpiGraphURL(record.scadaActualPiQualityTag)"  ng-disabled="!record.scadaActualPiQualityTag" >Check</button>
            <input id="varscadaActualPiQualityTag" name="scadaActualPiQualityTag" class="form-control" type="text" ng-model="record.scadaActualPiQualityTag" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.scadaActualPiQualityTag.$error" ng-if="form.scadaActualPiQualityTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label" for="varscadaForecastPiTag">Short Term Forecast PI Tag </label>
            <button type="button" ng-click="kpiGraphURL(record.scadaForecastPiTag)"  ng-disabled="!record.scadaForecastPiTag">Check</button>
            <input id="varscadaForecastPiTag" name="scadaForecastPiTag" class="form-control" type="text" ng-model="record.scadaForecastPiTag" ng-disabled="record.giaFlag === 'S' || record.giaFlag === 'NA' || !record.giaFlag" ng-blur="validateUniqueness()" ng-value="(record.giaFlag == 'NS')?record.scadaForecastPiTag:''"/>
            <div class="text-danger" ng-messages="form.scadaForecastPiTag.$error" ng-if="form.scadaForecastPiTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="varscadaForecastPiQualityTag">Short Term Forecast Quality PI Tag</label>
            <button type="button" ng-click="kpiGraphURL(record.scadaForecastPiQualityTag)"  ng-disabled="!record.scadaForecastPiQualityTag">Check</button>
            <input id="varscadaForecastPiQualityTag" name="scadaForecastPiQualityTag" class="form-control" type="text" ng-model="record.scadaForecastPiQualityTag" ng-disabled="record.giaFlag === 'S' || record.giaFlag === 'NA' || !record.giaFlag" ng-blur="validateUniqueness()" ng-value="(record.giaFlag == 'NS')?record.scadaForecastPiQualityTag:''" />
            <div class="text-danger" ng-messages="form.scadaForecastPiQualityTag.$error" ng-if="form.scadaForecastPiQualityTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

        </div>
        <div class="col-xs-2">
          <div class="form-group">

            <label class="control-label" for="varStateEstimatedPiTag">State Estimated PI Tag </label>
            <button type="button" ng-click="kpiGraphURL(record.stateEstimatedPiTag)"  ng-disabled="!record.stateEstimatedPiTag">Check</button>
            <input id="varStateEstimatedPiTag" name="stateEstimatedPiTag" class="form-control" type="text" ng-model="record.stateEstimatedPiTag" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.stateEstimatedPiTag.$error" ng-if="form.stateEstimatedPiTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="varXaOverridePiTag">XA Override PI Tag</label>
            <button type="button" ng-click="kpiGraphURL(record.xaOverridePiTag)" ng-disabled="!record.xaOverridePiTag">Check</button>
            <input id="varXaOverridePiTag" name="xaOverridePiTag" class="form-control" type="text" ng-model="record.xaOverridePiTag" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.xaOverridePiTag.$error" ng-if="form.xaOverridePiTag.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

        </div>

    </div>
    <div class="pull-right form-buttons">
      <span ng-show="editing && form.$pristine" class="text-muted">No changes made.</span>
      <button type="submit" class="fill-width" ng-disabled="form.$invalid || form.$pristine || record.dummyFlag === 'T'" ng-click="createUpdate()">{{(editing)?'Edit':'Save'}}</button>
      <button type="button" class="fill-width" ng-disabled="form.$pristine && !editing" ng-click="cancel()">Cancel</button>
      <button type="button" class="fill-width" ng-disabled="!editing || record.dummyFlag === 'T'" ng-click="delete()">Delete</button>

    </div>
    </form>



    <div class="row-spacer"></div>
    <!-- Table -->
    <div class="row">
    <!-- <div ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns></div> -->
      <div class="col-md-12 restricted-height">


        <table ng-table="tableParams" class="table table-condensed table-hover table-striped table-scroll" show-filter="true">
            <tr ng-repeat="v in $data">
                <td title="'Variable Name'" filter="{ name: 'text'}" sortable="'name'" class="truncate-column"><a ng-click="set(v.variableKey)">{{v.name|truncate}}</a></td>
                <td title="'Alias'" filter="{ alias: 'text'}" sortable="'alias'" class="truncate-column"><a ng-click="set(v.variableKey)">{{v.alias | truncate}}</a></td>
                <td title="'Objective Coefficient'" filter="{ objectiveFunctionCoefficient: 'text'}" sortable="'objectiveFunctionCoefficient'">{{v.objectiveFunctionCoefficient}}</td>
                <td title="'Description'" filter="{ description: 'text'}" sortable="'description'"  class="truncate-column">{{v.description|truncate}}</td>
                <td title="'GIA Generator?'" filter="{ giaFlag: 'text'}" sortable="'giaFlag'">{{v.giaFlag}}</td>
                <td title="'Facility Name'" filter="{ facilityName: 'text'}" sortable="'facilityName'">{{v.facilityName}}</td>
                <td title="'SCADA PI Tag'" filter="{ scadaActualPiTag: 'text'}" sortable="'scadaActualPiTag'">{{v.scadaActualPiTag}}</td>
                <td title="'SCADA Quality PI Tag'" filter="{ scadaActualPiQualityTag: 'text'}" sortable="'scadaActualPiQualityTag'">{{v.scadaActualPiQualityTag}}</td>
                <td title="'Short Term Forecast PI Tag'" filter="{ scadaForecastPiTag: 'text'}" sortable="'scadaForecastPiTag'">{{v.scadaForecastPiTag}}</td>
                <td title="'Short Term Forecast Quality PI Tag'" filter="{ scadaForecastPiQualityTag: 'text'}" sortable="'scadaForecastPiQualityTag'">{{v.scadaForecastPiQualityTag}}</td>
                <td title="'State Estimated PI Tag'" filter="{ stateEstimatedPiTag: 'text'}" sortable="'stateEstimatedPiTag'">{{v.stateEstimatedPiTag}}</td>
                <td title="'XA Override PI Tag'" filter="{ xaOverridePiTag: 'text'}" sortable="'xaOverridePiTag'">{{v.xaOverridePiTag}}</td>
                <td title="'Last Modified By'" filter="{ lastModifiedBy: 'text'}" sortable="'lastModifiedBy'">{{v.lastModifiedBy}}</td>
                <td title="'Last Modified'" filter="{ lastModifiedTimestamp: 'text'}" sortable="'lastModifiedTimestamp'">{{v.lastModifiedTimestamp}}</td>
            </tr>
        </table>
      </div>
    </div>

  </div>  <!-- collapse-content -->
</div>
<hr>
<div class="" id="groups" ng-controller="GroupCtrl">
  <div class="collapse-heading">

    <span class="pull-left glyphicon glyphicon-menu-right" ng-show="closed" ng-click="closed=false"></span>
    <span class="pull-left glyphicon glyphicon-menu-down" ng-hide="closed" ng-click="closed=true"></span>
    <h2>Groups</h2>
  </div>
  <div ng-hide="closed" class="collapse-content">
    <form name="form" class="" novalidate>

      <div class="row no-gutter">
        <div class="col-xs-2">

          <div class="form-group">
            <label class="control-label" for="groupName">Group Name<span class="text-danger">*</span></label>
            <input name="groupName" id="groupName" type="text" class="form-control" ng-model="record.groupName" required ng-maxlength="32" maxlength="32" ng-blur="validateUniqueness()" />
            <div class="text-danger" ng-messages="form.groupName.$error" ng-if="form.groupName.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label" for="groupDescription">Description<span class="text-danger">*</span></label>
            <input id="groupDescription" name="groupDescription" type="text" class="form-control" ng-model="record.groupDescription" required  maxlength="32" ng-maxlength="32" />
            <div class="text-danger" ng-messages="form.groupDescription.$error" ng-if="form.groupDescription.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-4">

        <div class="form-buttons">
          <span class="row-spacer"></span>
          <button type="submit" ng-disabled="form.$invalid || form.$pristine" ng-click="createUpdate()">{{(editing)?'Edit':'Save'}}</button>
          <button type="button"  ng-disabled="form.$pristine && !editing" ng-click="cancel()">Cancel</button>
          <button type="button" ng-disabled="!editing" ng-click="delete()">Delete</button>
          <span ng-show="editing && form.$pristine" class="text-muted">No changes made.</span>

        </div>
        </div>

      </div> <!-- row -->
    </form>

    <!-- Table -->
    <div class="row">
      <div class="col-md-6 restricted-height">

        <!-- <div ui-grid="gridOptions" ui-grid-resize-columns></div> -->

        <table ng-table="tableParams" class="table table-condensed table-hover table-striped table-scroll" show-filter="true">
            <tr ng-repeat="group in $data">
                <td title="'Group Name'" filter="{ groupName: 'text'}" sortable="'groupName'" class="truncate-column"><a ng-click="set(group.constraintGroupKey)">{{group.groupName}}</a></td>
                <td title="'Description'" filter="{ groupDescription: 'text'}" sortable="'groupDescription'"  class="truncate-column" >{{group.groupDescription|truncate}}</td>
                <td title="'Last Modified by'" filter="{ lastModifiedBy: 'text'}" sortable="'lastModifiedBy'">{{group.lastModifiedBy}}</td>
                <td title="'Last Modified'" filter="{ lastModifiedTimestamp: 'text'}" sortable="'lastModifiedTimestamp'">{{group.lastModifiedTimestamp }}</td>

            </tr>
        </table>


      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>


  </div>


<hr>
<div class="" id="records" ng-controller="PlatformCtrl">
  <div class="collapse-heading">

    <span class="pull-left glyphicon glyphicon-menu-right" ng-show="closed" ng-click="closed=false"></span>
    <span class="pull-left glyphicon glyphicon-menu-down" ng-hide="closed" ng-click="closed=true"></span>
    <h2>Platform Status</h2>
  </div>
  <div ng-hide="closed" class="collapse-content">
    <form name="form" class="" novalidate>

      <div class="row no-gutter">
        <div class="col-xs-1">

          <div class="form-group">
            <label class="control-label" for="mirrorKey">Platform Number<span class="text-danger">*</span></label>
            <input name="mirrorKey" id="mirrorKey" type="text" class="form-control" ng-value="platformNumber()" disabled />
            <div class="text-danger" ng-messages="form.mirrorKey.$error" ng-if="form.mirrorKey.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>

        </div>
        <div class="col-xs-1">
          <div class="form-group">
            <label class="control-label" for="mirrorStatus">Status<span class="text-danger">*</span></label>
            <select id="mirrorStatus" name="mirrorStatus" class="form-control" ng-model="record.mirrorStatus" required>
              <option value="{{(record.mirrorKey==0)?'Enabled':'Simulated'}}">{{(record.mirrorKey==0)?'Enabled':'Simulated'}}</option>
              <option value="Disabled">Disabled</option>
            </select>
            <div class="text-danger" ng-messages="form.mirrorStatus.$error" ng-if="form.mirrorStatus.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>


        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label" for="owner">Owner<span class="text-danger">*</span></label>
            <input id="owner" name="owner" type="text" class="form-control" ng-model="record.owner" required maxlength="32" ng-maxlength="32" />
            <div class="text-danger" ng-messages="form.owner.$error" ng-if="form.owner.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label" for="description">Description<span class="text-danger">*</span></label>
            <input id="mirrorDescription" name="mirrorDescription" type="text" class="form-control truncate-column" ng-model="record.mirrorDescription" required maxlength="4000" ng-maxlength="4000" />
            <div class="text-danger" ng-messages="form.mirrorDescription.$error" ng-if="form.mirrorDescription.$touched">
              <span ng-message="required">This field is required.</span>
<span ng-message="maxlength">Field character limit exceeded.</span>
<span ng-message="minlength">Field must be at least 2 characters in length.</span>
<span ng-message="unique">Duplicate found. Value must be unique.</span>
<span ng-message="pattern">Valid characters: A-Za-z0-9._</span>
<span ng-message="number">Please enter a numeric value only.</span>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-buttons">
            <span class="row-spacer"></span>
            <button type="submit"  ng-disabled="form.$invalid || form.$pristine || record.mirrorKey === 0" ng-click="createUpdate()">{{(editing)?'Edit':'Save'}}</button>
            <button type="button"  ng-disabled="form.$pristine && !editing" ng-click="cancel()">Cancel</button>
            <span ng-show="editing && form.$pristine" class="text-muted">No changes made.</span>
          </div>
        </div>

      </div> <!-- row -->


    </form>

    <!-- Table -->
    <div class="row">
      <div class="col-md-9 restricted-height">


        <!-- <div ui-grid="gridOptions" ui-grid-resize-columns></div> -->

        <table ng-table="tableParams" class="table table-condensed table-hover table-striped table-scroll" show-filter="true">

            <tr ng-repeat="platform in $data">
                <td title="'Platform Number'" filter="{ mirrorKey: 'number'}" sortable="'mirrorKey'"><a ng-click="set(platform.mirrorKey)">{{platform.mirrorKey}}</a></td>

                <td title="'Status'" filter="{ mirrorStatus: 'text'}" sortable="'mirrorStatus'">{{platform.mirrorStatus}}</td>
                <td title="'Owner'" filter="{ owner: 'text'}" sortable="'owner'">{{platform.owner}}</td>
                <td title="'Description'" filter="{ mirrorDescription: 'text'}" sortable="'mirrorDescription'" class="truncate-column">{{platform.mirrorDescription|truncate}}</td>
                <td title="'Last Modified By'" filter="{ lastModifiedBy: 'text'}" sortable="'lastModifiedBy'">{{platform.lastModifiedBy}}</td>
                <td title="'Last Modified'" filter="{ lastModifiedTimestamp: 'text'}" sortable="'lastModifiedTimestamp'">{{platform.lastModifiedTimestamp}}</td>

            </tr>
        </table>


      </div>

    </div>
  </div>

<span class="row-spacer"></span>
  </div>

</div>
